.top {
    height: 200px;
  }
.top-link {
    display: block;
    float: right;
}
.title {
  display: inline-block;
  position: absolute;          /* 位置指定 */
  top: 100px;                    /* 親要素の半分下にずらす */
  left: 50%;                   /* 親要素の半分右にずらす */
  transform: translateY(-50%) translateX(-50%);    /* 要素自体の半分、上と左にずらす */
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}