.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh
  }
  .top-link {
    float: right;
  }
  .slider {
    overflow:visible!important; /* 両サイドに前後の画像を表示させる */
    width: 80%;
    margin: 0 auto;             /* 画面中央にする */
    float: left;
  }
  .side {
    width: 20%;
    float: right;
  }
  .footer {
    margin-top: auto;
    border:  solid 1px;
    height:60px;
  }