@media screen and (min-width:501px) {
    /*pc用のcssを記述*/

}
@media screen and (max-width:500px) {
    /*スマホ用のcssを記述*/
    .main {
        background-color: #ceeafa;
        position: absolute;          /* 位置指定 */
        top: 50%;                    /* 親要素の半分下にずらす */
        left: 50%;                   /* 親要素の半分右にずらす */
        transform: translateY(-50%) translateX(-50%);    /* 要素自体の半分、上と左にずらす */
        width: 70%;
        height: 30%;
        border: 1px solid rgb(134, 134, 134);
    }
    .content {
        text-align: center;
        position: absolute;          /* 位置指定 */
        top: 20%;                    /* 縦の位置をずらす */
    }
    .form {
        display: inline-block;
        position: relative;
    }
    .form input[type='text'] {
        font: 13px/24px sans-serif;
        box-sizing: border-box;
        width: 100%;
        letter-spacing: 1px;
    }
    .form input[type='text']:focus {
        outline: none;
    }
    .ef {
        padding: 4px 0;
        border: 0;
        border-bottom: 1px solid #1b2538;
        background-color: transparent;
    }
    .ef ~ .focus_line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        transition: 0.4s;
        background-color: #da3c41;
    }
    .ef:focus ~ .focus_line,
    .form.ef ~ .focus_line {
        width: 100%;
        transition: 0.4s;
    }
    .ef ~ label {
        position: absolute;
        z-index: -1;
        top: 4px;
        left: 0;
        width: 100%;
        transition: 0.3s;
        letter-spacing: 0.5px;
        color: #aaaaaa;
    }
    .ef:focus ~ label, .form＿title.ef ~ label {
        font-size: 12px;
        top: -16px;
        transition: 0.3s;
        color: #da3c41;
    }
    .submit_button {
		position: relative;
		width: 58px;
		height: 35px;
		display: inline-block;
		font-weight: bold;
		text-decoration: none;
		color: #FFF;
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
		padding: 0.3em 0.5em;
		background: #00bcd4;
		border-top: solid 3px #00a3d4;
		border-bottom: solid 3px #00a3d4;
		transition: .4s;
		-webkit-appearance: none;
		border-radius: 0;
	}
	.submit_button:hover {
		text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
					6px 0px 15px rgba(255, 255, 240, 0.83);
    }
    input::-webkit-input-placeholder {
        font-size: 12px;
    }
    input:-moz-placeholder {
        font-size: 12px;
    }
    input::-moz-placeholder {
        font-size: 12px;
    }
    input:-ms-input-placeholder {
        font-size: 12px;
    }
}